* {margin: 0; padding: 0;}

html, body {
	margin:0 auto;
	padding:0;
	text-align:center;
	width: 100%;
	height: 90%;
   	background-color: #98f1a1;
}

.container{
    width: 99%;
	height: 40px;
	text-align: center;
}

.input {
   border: 1px solid #17405B;
   background: rgba(67,227,227,0.4);
   border-radius: 7px;
   color: #17405B;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding: 4px;
   margin: 4px;
   margin-bottom:20px;
   width:80%;
}

.input:focus {
   background: #fff;
   color: #725129;
}

@media only screen and (orientation:portrait){
    .keyboard{
        display: none;
    }
}

@media only screen and (orientation:landscape){
    .keyboard{
        position: relative;
        width: 90%;
        height: 90%;
        margin: 2%;
        float: left;
        background-color: #111;
        border-radius: 9px;
        padding: 1em;
        color: #eee;
        text-align: center;
    }

    .section-a{
        width: 100%;
        height:100%;
        float:left;
        text-align: inherit;
    }

    .line{
        float: right;
        display: block;
        width: 100%;
        height: 20%;
        margin-bottom: 1em;
        text-align: inherit;
    }

    .section-b{

    }

    .key{
      width: 8%;
      height:80%;
      display:block;
      background-color:#333;
      text-align: center;
      border-radius:2px;
      float:left;
      margin-left: 0.5em;
      padding-top: 1em;
      cursor: pointer;
      transition: box-shadow 0.7s ease;
    }

    .dual {
        font-size: 14px;
        line-height: 20px;
        width: 8%;
    }

    .backspace {
        width: 12%;
        font-size: 12px;
    }

    .letter{
        width: 8%;
    }

    .caps{
        width: 12%;
        font-size:12px;
        line-height:18px;
    }

    .enter{
        width: 10%;
        text-align: center;
        padding-left:0;
    }

    .space{
        width: 55%;
    }
}




.over {
    background: rgba(255, 0, 0, 0.5) !important;
}
.under {
    background: rgba(0, 255, 0, 0.5) !important;
}

#ball {
    position: absolute;
    width : 30px;
    height: 30px;
    background: green;
    border-radius: 100%;
    z-index: 1;
}
